

<h1>Chat MongoDb</h1>

<section class="chat-container">
    <div class="messages-container" id="messagesLogs"></div>


    <div class="container-chatbox">
        <span id="username"></span>
        <input type="text" name="escribir" id="chatbox" placeholder="Escribe algo">
    </div>

</section>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
