


<section class="profile_cart_container">
    <article>
        <img src="/multer/users/imgs/{{user.avatar}}" alt="Imagen de perfil">
    </article>
    <div class="profile_details">
      <h2>{{user.fullName}}</h2>
      <p>{{user.email}}</p>
    </div>
    <div class="profile_button">
      <button onclick="logoutSession()">Cerrar Sesion</button>
    </div>
</section>

<script src="/js/logoutSession.js"></script>
