  <div class="profile-card">
        <h1>Perfil de Usuario</h1>
        <p>Nombre completo: {{user.fullName}}</p>
        <p>Email: {{user.email}}</p>
        <button onclick="logoutSession()">Cerrar Sesion</button>
    </div>


<script src="/js/logoutSession.js"></script>
