


<section class="profile_cart_container">
    <article>
        <img src="/multer/users/imgs/{{user.avatar}}" alt="Imagen de perfil">
    </article>
    <div class="profile_details">
      <h2>{{user.fullName}}</h2>
      <p>{{user.email}}</p>
    </div>
    <div class="profile_button">
      <button onclick="logoutSession()">Cerrar Sesion</button>
    </div>
    {{#eq user.role 'admin'}}
    <div class="manage_users">
      <a href="/manageUsers">Administrar usuarios</a>
    </div>
    {{/eq}}

</section>

    
<script src="/js/logoutSession.js"></script>
