<section class="container">
  <h2>Contrase침a olvidada</h2>
  <p>Por favor, ingrese su direcci칩n de correo electr칩nico asociada a su cuenta
    para restablecer su contrase침a.</p>
  <form action="/api/sessions/forgot-password" method="post">
    <label for="email">Correo Electronico</label>
    <input type="email" name="email" id="" />
    <button>Recibir email</button>
  </form>
  <a href="/login">Volver al login</a>
</section>