{{message}}

{{error}}

<h1>Pagina de login</h1>
{{#if user}}
    <p>Ya inciaste sesion</p>
{{else}}
<form method="post" action="/api/sessions/login" >
    <input type="email" name="email" placeholder="correo electronico" >
    <br>
    <input type="password" name="password" placeholder="Contraseña" >
    <button>Iniciar sesion</button>
</form>
{{/if}}