{{message}}

{{error}}
{{#if user}}
    <p>Ya inciaste sesion</p>
{{else}}
<form method="post" action="/api/sessions/login" >
    <h1>login</h1>
    <input type="email" name="email" placeholder="Correo electronico" >
    <br>
    <input type="password" name="password" placeholder="Contraseña" >
    <button>Iniciar sesion</button>
</form>

{{/if}}