<p>{{error}}</p>


<form action="/api/sessions/register" method="post">
<h1>Pagina de registro</h1>
    <input type="text" placeholder="Nombre" name="first_name">
    <br>
    <input type="email" name="Email" placeholder="correo electronico">
    <br>
    <input type="password" name="Password" placeholder="Contraseña">
    <button>Registrarse</button>
</form>