<section class="container">
    <h2>Restablecer contrase単a</h2>
    <form action="/api/sessions/reset-password?token={{token}}" method="post">
        <label for="password">Contrase単a</label>
        <input type="password" name="newPassword" placeholder="Restablecer contrase単a">
        <button>Restablecer Contrase単a</button>
    </form>
</section>