@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;

}

.container {
    display: flex;
    margin: 40px 30px;
    justify-content: center;
}

.container_shopping_cart {

width: 50%;

& h1 {
    margin: 0;
}

}

.container_cart {

    border-top: solid 1px gray;

    & .cart_products {
        margin: 8px 0;
        display: flex;
        padding: 15px;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        
        & h5 {
            font-size: 20px;
        }
        & article {
            
            & img {
                width: 150px;
            }
        }
    
        & .product_data2 {
            display: flex;
            align-items: center;

            & button {
                font-weight: bold;
                background: none;
                margin: 0px 10px 0 25px;
                border: none;
                font-size: 17px;
                cursor: pointer;
            }
        }
    }
    
}


.cart_empty {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1 {
        margin: 10px auto;
        
    }
}

.container_buy_products {
    background: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0px 10px;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;

    & h2 {
        color: white;
    }

    & button {
        background-color: orangered;
        color: white;
        border: none;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 700;
        transition: .5s all;
        &:hover {
            background-color: rgb(209, 59, 5);
        }
    }

    & .container_price {
        color: white;
        display: flex;
        justify-content: space-between;
    }
}